
body {/*前にcssで指定した色が親json経由でグレーになってしまうため一時的な措置（子jsonでも不可）*/
  background-color: #ffffff !important;
}

/* ブロックエディタ内の段落・リスト・パンくずリストを統一 */
.editor-styles-wrapper p,
.editor-styles-wrapper ul,
.editor-styles-wrapper li {
  font-size: clamp(0.875rem, 0.9rem + 0.2vw, 1.125rem);
  line-height: 1.8;
  margin-bottom: 1.5em;
  font-weight: normal;
  color: #000000;
  font-family: "Noto Sans JP", sans-serif;
}

.wp-block-heading.is-style-lined-heading {
  border-top: 3px solid #2f83b7;
  border-bottom: 3px solid #2f83b7;
  padding: 0.5em 0;
}

.wp-block-heading.is-style-stripe{
    position: relative;
    color:#6d5353;
    background: #efece0;
    display: block;
    padding: 20px;
    background-image: repeating-linear-gradient(-60deg,#fff 0 3px,transparent 3px 5px);/*背景ストライプの角度・色・太さなど*/
    box-shadow: 3px 3px 5px #c7c4b2;/*影（左右距離 上下距離 ぼかしサイズ 色*/
}

.wp-block-heading.is-style-nuritubusi {
  background: #323232;
  padding: .5em .7em;
  color: #FFF;
}

/*見出し部分*/
.is-style-vkp-heading-diagonal-stripe-line{
 position:relative;
 padding-bottom:1rem;
}
/*斜めストライプ部分*/
.is-style-vkp-heading-diagonal-stripe-line::before{
 position: absolute;
 content: '';
 left: 0;
 bottom: 0;
 width: 100%;
 height: 8px;
 background-image:repeating-linear-gradient(
  -45deg, #000, #000 1px, transparent 1px, transparent 5px
 );
 background-size:7px 7px;
 -webkit-background-size:7px 7px;
 /*Lightning見出しデザイン設定のCSS対策*/
 border:none;
 top:unset;
}

.is-style-side-line {
  border-left: 7px solid #323232;/*左線*/
  padding: .5em .7em;/*余白*/
  color: #323232;
  background-color: #f9f9f9;
}


.is-style-check-buttom {
  position: relative;
  color: #323232;
  padding-left: 1.3em;
  line-height: .7em;
}
.is-style-check-buttom:before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  font-weight: 500;
}