<!-- wp:template-part {"slug":"header","className":"headercontainer"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group maincontainer signal-site">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="single-site-wrapper" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">     
		<!-- wp:pattern {"slug":"sintama/hidden-written-by"} /-->
		<!-- wp:post-featured-image /-->
		<!-- wp:post-title {"level":2} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	</div>
    <!-- /wp:group -->
    <!-- wp:template-part {"slug":"sidebar","className":"sidebar"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
